rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Stations can be read by anyone, but only written by the owner.
    match /stations/{stationId} {
      allow read;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
    }

    // Characters are public, but read-only. System data.
    match /characters/{characterId} {
      allow read;
      allow write: if false;
    }

    // Users can only create, read and update their own data. No one can delete user data.
    match /users/{userId} {
      allow get, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
      allow delete: if false;
      allow list: if false;
    }
  }
}
