rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permettre la lecture publique de tous les fichiers
    match /{allPaths=**} {
      allow read;
    }

    // Sécuriser le dossier des messages DJ
    // Autoriser tout utilisateur authentifié à créer des messages.
    match /dj-messages/{stationId}/{messageId} {
      allow write: if request.auth != null;
    }
  }
}
