rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // RÈGLES TEMPORAIRES TRÈS PERMISSIVES POUR DEBUG
    // TODO: Restreindre après résolution du problème
    
    match /{allPaths=**} {
      allow read, write: if true; // Temporairement complètement ouvert
    }
  }
}
